h4
{
	text-align: center;
}

.marge {
margin-left: 5em;
}

.titre_blog
{
	font-family: 'Indie Flower', cursive;
}

.text_comment
{
	font-family: 'Indie Flower', cursive;
}

h2 p
{
	font-family: 'Indie Flower', cursive;
}

.about_text p
{
	font-family: 'Indie Flower', cursive;
}